.container{
    background-color: green;
    border: dashed red 2px;

    width: 350px;
    height: 220px;
    
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    
    margin: 30px;
}